---
import './BackTop.less'
---

<div class="float-box right top">
  <div class="vh-tools-group">
    <!-- 简繁切换 -->
    <section class="lang-switch" data-tip="简繁转换">
      <span class="switch-text">繁</span>
    </section>

    <!-- 侧栏显隐 -->
    <section class="sidebar-toggle" data-tip="侧栏显隐">
      <svg
        viewBox="0 0 1024 1024"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        p-id="43808"
      >
        <path
          d="M180 176H120a8 8 0 0 0-8 8v656c0 4.384 3.584 8 8 8h60a8 8 0 0 0 8-8V184a8 8 0 0 0-8-8z m724 0h-60a8 8 0 0 0-8 8v656c0 4.384 3.616 8 8 8h60a8 8 0 0 0 8-8V184a8 8 0 0 0-8-8z m-118.72 328.32l-127.584-100.704a7.232 7.232 0 0 0-11.712 5.696v66.688h-268v-62.816a7.264 7.264 0 0 0-11.68-5.696l-127.616 100.8a7.136 7.136 0 0 0 0 11.328l127.52 100.8a7.232 7.232 0 0 0 11.68-5.728v-66.688h268v62.784c0 6.016 7.04 9.408 11.712 5.728l127.488-100.8a7.232 7.232 0 0 0 0.224-11.424z"
          p-id="43809"
          fill="currentColor"
          stroke="currentColor"
          stroke-width="30"></path>
      </svg>
    </section>

    <!-- 主题切换 -->
    <section class="theme-switch" data-tip="亮暗切换">
      <!-- 暗色模式图标（默认显示） -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon dark-icon"
        viewBox="0 0 1024 1024"
        fill="currentColor"
        aria-label="dark icon"
        name="dark"
      >
        <path
          d="M524.8 938.667h-4.267a439.893 439.893 0 0 1-313.173-134.4 446.293 446.293 0 0 1-11.093-597.334A432.213 432.213 0 0 1 366.933 90.027a42.667 42.667 0 0 1 45.227 9.386 42.667 42.667 0 0 1 10.24 42.667 358.4 358.4 0 0 0 82.773 375.893 361.387 361.387 0 0 0 376.747 82.774 42.667 42.667 0 0 1 54.187 55.04 433.493 433.493 0 0 1-99.84 154.88 438.613 438.613 0 0 1-311.467 128z"
        ></path>
      </svg>

      <!-- 亮色模式图标（默认隐藏） -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon light-icon"
        viewBox="0 0 1024 1024"
        fill="currentColor"
        aria-label="light icon"
        name="light"
      >
        <path
          d="M952 552h-80a40 40 0 0 1 0-80h80a40 40 0 0 1 0 80zM801.88 280.08a41 41 0 0 1-57.96-57.96l57.96-58a41.04 41.04 0 0 1 58 58l-58 57.96zM512 752a240 240 0 1 1 0-480 240 240 0 0 1 0 480zm0-560a40 40 0 0 1-40-40V72a40 40 0 0 1 80 0v80a40 40 0 0 1-40 40zm-289.88 88.08-58-57.96a41.04 41.04 0 0 1 58-58l57.96 58a41 41 0 0 1-57.96 57.96zM192 512a40 40 0 0 1-40 40H72a40 40 0 0 1 0-80h80a40 40 0 0 1 40 40zm30.12 231.92a41 41 0 0 1 57.96 57.96l-57.96 58a41.04 41.04 0 0 1-58-58l58-57.96zM512 832a40 40 0 0 1 40 40v80a40 40 0 0 1-80 0v-80a40 40 0 0 1 40-40zm289.88-88.08 58 57.96a41.04 41.04 0 0 1-58 58l-57.96-58a41 41 0 0 1 57.96-57.96z"
        ></path>
      </svg>
    </section>
    <!-- 设置按钮 -->
    <section class="vh-settings" data-tip="更多设置">
      <svg viewBox="0 0 24 24">
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0-6 0M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83a2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33a1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2a2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0a2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82a1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2a2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83a2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2a2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51a1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0a2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2a2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"
        ></path>
      </svg>
    </section>
    <!-- 缩放按钮 -->
    <section class="vh-zoom" data-tip="全屏切换">
      <svg
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path
          d="M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3"
        ></path>
      </svg>
    </section>
    <!-- 返回顶部按钮 -->
    <section class="vh-back-top" data-tip="返回顶部">
      <svg viewBox="0 0 24 24">
        <defs>
          <linearGradient id="Gradient" x1="0%" y1="0%" x2="100%" y2="0%">
            <!-- <stop
              offset="0%"
              style="stop-color:rgb(255, 255, 255);stop-opacity:1"></stop>
            <stop
              offset="50%"
              style="stop-color:rgb(255, 255, 255);stop-opacity:1"></stop> -->
            <stop stop-color="currentColor" stop-opacity="1"></stop>
          </linearGradient>
        </defs>
        <circle
          stroke="url(#Gradient)"
          cx="12"
          cy="12"
          r="10"
          fill="none"
          stroke-width="2"
          stroke-linecap="round"
          transform="rotate(-90, 12, 12)"></circle>
      </svg>
      <svg class="icon" viewBox="0 0 24 24"
        ><path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m6 15l6-6l6 6"></path></svg
      >
    </section>
  </div>
</div>
