---
import SITE_INFO from '@/config'
import './MainHeader.less'

const { HomeBanner } = SITE_INFO
const { isHome } = Astro.props
---

<div class={`header-main ${isHome ? 'bg-video' : 'bg-image'}`}>
  {
    isHome && (
      <video
        class="video-bg"
        autoplay
        loop
        muted
        playsinline
        poster={HomeBanner.backgroundImg}
      >
        <source src={HomeBanner.backgroundVideo} type="video/mp4" />
      </video>
    )
  }

  <div class="avatar">
    <img
      src="/assets/images/lazy-loading.webp"
      data-vh-lz-src={SITE_INFO.Avatar}
      alt="avatar"
    />
  </div>
  <!-- 添加作者logo -->
  <h3 class="auther">{SITE_INFO.Author || '-'}</h3>
  <!-- 添加打字机效果 -->
  <p class="desc"></p>
  <!-- 添加箭头元素 -->
  {
    isHome && (
      <div class="arrow-down">
        <svg
          class="icon"
          viewBox="0 0 1024 1024"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          p-id="62422"
          width="28"
          height="28"
        >
          <>
            <path
              d="M915.110634 526.94854c-11.698858-11.698858-30.697002-11.698858-42.39586 0L490.852065 908.711259c-11.698858 11.698858-11.698858 30.697002 0 42.395859s30.697002 11.698858 42.39586 0l381.762718-381.762718c11.798848-11.698858 11.798848-30.697002 0.099991-42.39586z"
              fill="#34495e"
              p-id="62423"
            />
            <path
              d="M534.247827 908.811249l-381.962699-381.962699c-11.698858-11.698858-30.697002-11.698858-42.395859 0s-11.698858 30.697002 0 42.39586l381.962699 381.962699c11.698858 11.698858 30.697002 11.698858 42.395859 0s11.698858-30.697002 0-42.39586z"
              fill="#34495e"
              p-id="62424"
            />
            <path
              d="M915.110634 72.992872c-11.698858-11.698858-30.697002-11.698858-42.39586 0L490.852065 454.75559c-11.698858 11.698858-11.698858 30.697002 0 42.39586s30.697002 11.698858 42.39586 0l381.762718-381.762718c11.798848-11.698858 11.798848-30.697002 0.099991-42.39586z"
              fill="#34495e"
              p-id="62425"
            />
            <path
              d="M534.247827 454.855581l-381.962699-381.962699c-11.698858-11.698858-30.697002-11.698858-42.395859 0s-11.698858 30.697002 0 42.395859l381.962699 381.962699c11.698858 11.698858 30.697002 11.698858 42.395859 0s11.698858-30.697002 0-42.395859z"
              fill="#34495e"
              p-id="62426"
            />
          </>
        </svg>
      </div>
    )
  }
</div>
