---
import SITE_INFO from '@/config'
import './MainHeader.less'

const { HomeBanner } = SITE_INFO
const { isHome } = Astro.props
---

<div class={`header-main ${isHome ? 'bg-video' : 'bg-image'}`}>
  {
    isHome && (
      <video
        class="video-bg"
        autoplay
        loop
        muted
        playsinline
        poster={HomeBanner.backgroundImg}
      >
        <source src={HomeBanner.backgroundVideo} type="video/mp4" />
      </video>
    )
  }

  <div class="avatar">
    <img
      src="/assets/images/lazy-loading.webp"
      data-vh-lz-src={SITE_INFO.Avatar}
      alt="avatar"
    />
  </div>
  <!-- 添加作者logo -->
  <h3 class="auther">{SITE_INFO.Author || '-'}</h3>
  <!-- 添加打字机效果 -->
  <p class="desc"></p>
  <!-- 添加箭头元素 -->
  {isHome && <div class="arrow-down" />}
</div>
